.head-div1 {
    width: 101px;
    margin-left: 32px;
}
.head-div2 {
    width: 328px;
}
.nav-li {
    display: flex;
    justify-content: space-around;
}
.head-div3 {
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.mainhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
}
.head-li {
    font-size: 16px;
    line-height: 19.36px;
}
.divwraper {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.leftdiv {
    width: 490px;
}
.rightdiv {
    width: 490px;
    height: 428px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.minidivh2 {
    margin-bottom: 24px;
    width: 490px;
    height: 120px;
    font-size: 56px;
    line-height: 60px;
}
.minidivp {
    width: 100%;
    height: 56px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
}
.actiondiv {
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.minidiv2p {
    width: 236px;
    height: 40px;
}
.minidiv2 {
    display: flex;
    align-items: center;
}
.mainimg {
    width: 100%;
}
.sec2 {
    background-color: #F3F3F3;
    height: 244.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divwraper2 {
    max-width: 1110px;
    width: 90%;
    display: flex;
    column-gap: 30px;
}
.div1 {
    width: 360px;
}
.holediv {
    display: flex;
    align-items: center;
    column-gap: 13.6px;
    margin-bottom: 16px;
}
.blackhole {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}
.descr {
    width: 335.35px;
    height: 60.2px;
}
.sec3 {
    height: 620px;
    background-color: black;
}
.divwraper3 {
    max-width: 1140px;
    width: 90%;
    height: 428px;
    margin: 0 auto;
}
.wraper3 {
    display: flex;
    align-items: center;
    column-gap: 133px;
}
.leftdiv-3 {
    width: 503.5px;
    display: flex;
    align-items: center;
}
.rightdiv-3 {
    width: 503px;
    height: 264px;
    color: white;
}
.rightdiv5p {
    width: 503.5px;
    height: 176px;
}
.rightdivh4 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.rightdivp {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.lastimg {
    width: 100%;
}
.sec4div {
    position: relative;
}
.sec4minidiv1 {
    max-width: 540px;
    width: 100%;
    height: 24px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);

}
.sec4minidiv2 {
    max-width: 540px;
    width: 100%;
    height: 96px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.sec4h5 {
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.sec4h2 {
    font-size: 40px;
    line-height: 48px;
    color: white;
}
.actionp {
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.whiteaction {
    max-width: 84px;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%,-50%);
    border-radius: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lastdiv {
    height: 336px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-div {
    max-width: 1140px;
    width: 100%;
    height: 144px;
    display: flex;
}
.footwraper {
    display: flex;
}
.footdiv1 {
    width: 227px;
    height: 144px;
}
.footdiv2 {
    width: 228px;
    height: 116px;
}
.footdiv3 {
    width: 228px;
    height: 116px;
}
.footdiv4 {
    width: 228px;
    height: 88px;
}
.foot-h {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
}
.foot-li {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}



@media (max-width: 1024px) {
    .divwraper {
        flex-direction: column;
    }
    .rightdiv {
        width: 100%;
    }
    .leftdiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .minidivp {
        width: 80%;
        height: 56px;
    }
    .minidiv1 {
        width: 630px;
    }
    .minidivh2 {
        width: 100%;
    }
    .minidiv2p {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .leftdiv-3 {
        width: 100%;
    }
    .rightdiv-3 {
        width: 100%;
        display: flex;
        column-gap: 129px;
        margin-top: 64px;
    }
    .rightdivh4 {
        width: 415.5px;
        height: 96px;
    }
    .rightdiv5p {
        width: 415.5px;
        height: 185px;
    }
    .divwraper3 {
        flex-direction: column;
    }
    .sec3 {
        width: 100%;
        height: 895px;
    }
    .foot-div {
        display: block;
        margin-left: 32px;
    }
    .logodiv {
        margin-bottom: 48px;
    }
    .footdiv4 {
        display: none;
    }
}

@media (max-width: 744px) {
    .divwraper {
        width: 100%;
        height: 760px;
    }
    .minidivh2 {
        width: 90%;
        height: 49px; 
        font-size: 40px;
        line-height: 48.5px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .minidivp {
        width: 90%;
        height: 56px;
        font-size: 18px;
        line-height: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .rightdiv {
        width: 696px;
        height: 499px;
    }
    .actiondiv {
        width: 90px;
        height: 40px;
        margin-bottom: 16px;
    }
    .minidiv2 {
        width: 696px;
        height: 84px;
        flex-direction: column;
    }
    .minidiv2p {
        width: 696px;
        height: 28px;
        font-size: 14px;
        line-height: 28px;
        display: flex;
        justify-content: center;
    }

}